body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

#voting-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-result {
    display: flex;
    align-items: center;  /* Alinha o conteúdo verticalmente no meio */
    justify-content: flex-start;  /* Alinha o conteúdo horizontalmente à esquerda */
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.team-name {
    font-weight: bold;
}

.team-points {
    font-weight: bold;
    margin-left: auto;  /* Move os pontos para o lado direito */
}

.team-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.position-rank{color: #bcff00;}